{{#paper-content class='flex-layout'}}
  {{#paper-content class='flex-container'}}

    <h2 class='flex-title'>Notify Add-On</h2>
 
    {{#paper-button raised=true onClick=(action 'displayWarning')}}Nofify{{/paper-button}}

  {{/paper-content}}
{{/paper-content}}